
header {
    text-align: center;
    height: 35px;
    padding: 10px;
    background-color:rgb(213, 213, 213);
}

.logo>img {
    width: 10%;

}

.logo {
    display: flex;
    justify-content: end;
    width: 50%;

}

#nav {
    display: flex;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

#function>img {
    width: 2%;
    height: 30%;
    margin-right: 10px;

    margin-top: 18px;
}

#function>button,
input {
    margin: 10px;
    text-align: right;
    border: none;
    background-color: white;
   
}
#function>button>a{
    text-decoration:none;
    color: black;
}

#function {
    display: flex;
    justify-content: end;
    width: 50%;
    padding-right: 10px;
}

#nav2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#nav2 a {
    text-decoration: none;
    font-size: 12px;
    margin: 10px;
    color: black;
}
#details{
    display: flex;
}
#details>#photo{
    width:50%;

}
#details>#photo>img{
    width: 100%;
}
